<p id="notice"><%= notice %></p>

<p>
  <strong>Nickname:</strong>
  <%= @user.Nickname %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.Password %>
</p>

<p> <strong> List of tweets made by this user: </strong> </p>
<% @tweets.each do |tweet| %>
  <p> <%= tweet.Content %> </p>
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
